
.header{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // font-family: circular ;
    z-index: 100;
    position: sticky;
    // background-color: black;
    // background-image: linear-gradient(185deg, black 100%, white 100%  );
    .header-details {
        display: flex;
        justify-content: space-between;
    }
    .header-filter {
        display: flex;
        align-self: center;
        // background-color: black;
        border-radius: 40px;
        border: 1px solid black;


        div{
            padding: 20px 50px;
        }
        div:not(:last-child, div:nth-of-type(4) ){
            border-right: 1px solid lightgrey;
        }
    }
    
}


.header-left {
    display: flex;
    object-fit: contain;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    color: #ff385c;

    .homey {
        font-size: 1.8em;
        margin-left: 5px;
    }
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px lightgray solid;
    padding: 10px;
    flex: 1;
    max-width: fit-content;
    border-radius: 999px;
    margin-top: 15px;
    margin-bottom: 10px;    
    cursor: pointer;
    transform: translateX(33%);
    box-shadow: 1px 1px 3px 0px #00000066;
    height: 50px;

    .search-icon{
        background-color: #ff385c;
        border-radius: 50%;
        color: white;
        font-size: 2rem;
        padding: 0.5rem;       
    }
}

.header-center > input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    button{
        background-color: #ff000000;
        padding: 7px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: black;
    }
    button:hover:not(:last-child){
        background-color: #706d6d0e;
    }
    button:not(:last-child){
        margin-right: 20px;
    }
    .btn-explore{
        background-color: #ff000000;
        padding: 17px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: black;
    }
    .btn-explore:hover:not(:last-child){
        background-color: #706d6d0e;
    }
    .btn-explore:not(:last-child){
        margin-right: 20px;
    }
    button:last-child{
        border: 1px lightgray solid;
    }

    .user-icon{
        background-color: rgb(251, 251, 251);
        display: flex;
        padding: 5px;
        font-size: 2rem;

        .ham-icon{
            margin: 7px 9px 0px;
            font-size: 2rem;
            
        }
    }

}


