.order-container{
width: 33.3%;

}
.order-form-container{
    margin: 30px 0;
    position: sticky;
    top: 120px;
}
.order-form{
    border: 1px solid #dadada;

    border-radius: 10px;
    box-shadow: 0 6px 16px -2px #d8d8d8;
    padding: 23px 25px 15px;
    .order-form-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 23px;
        h2{
            font-size: 1.4rem;
            margin: 0;
        }
        h2 span{
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.671);
            font-weight: 100;
        }
        p{
            font-size: 1.1rem;
            margin: 0;
        }
    }

    form span{
        display: block;
        line-height: 1.2rem;
    }

    .order-form-date{
        width: 100%;
        border: 1px solid #999;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        label{
            display: inline-block;
            width: 50%;
            padding: 10px 12px;
            cursor: pointer;
            text-transform: uppercase;
        }
        label:first-child{
            border-right: 1px solid #999;
            
        }
        
        input{
            border: none;
            font-size: 1rem;
            width: 100%;      
            cursor: pointer;  
        }
    }
    .order-form-guest{
        width: 100%;
        border: 1px solid #999;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: none;
        label{
            display: inline-block;
            width: 100%;
            padding: 10px 12px;
            cursor: pointer;
            text-transform: uppercase;
        }
        
        input{
            border: none;
            font-size: 1rem;
            width: 100%;      
            cursor: pointer;  
        }
        
       
    }
    .btn-container{
        height: 100%;
        border-radius: 10px;
        margin: 15px 0 10px;
        background-image: linear-gradient(
            90deg ,#e61e4d 0,#e31c5f 50%,#d70466);
            button{
                width: 100%;
                height: 48px;
                border: none;
                margin: 0;
                padding: 0;   
                background-color: transparent;
                font-size: 1.2rem;
                color: #fff;       
     }
    }
}