.order-container{
width: 33.3%;

}
.order-form-container{
    margin: 30px 0;
    position: sticky;
    top: 120px;
}
.order-form{
    border: 1px solid #dadada;

    border-radius: 10px;
    box-shadow: 0 6px 16px -2px #d8d8d8;
    padding: 20px 25px 15px;
    .order-form-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 1.4rem;
            margin: 0;
        }
        h2 span{
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.671);
            font-weight: 100;
        }
        p{
            font-size: 1.1rem;
            margin: 0;
        }
    }
}