.reviews{
    border-top: 1px solid rgba(0,0,0,.1607843137254902); 
    padding: 30px 0;
    h2{
        margin-bottom: 30px;
    }

    .review-statistics{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 40px;
        margin-bottom: 30px;        
    }
    .review-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 40px;        
    }
    .review-card-header{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    
}