.stay-filter{
    > Button{
        border-radius: 30px;
        text-transform: inherit;
        margin-inline-end: 5px;
        margin-bottom:16px;
        color:#222; 
        border-color:#ddd;
    }

    > Button:hover{
        border-color:#222;
    }
}


.price-filter-modal{
    position: absolute;
    top: 43px;
    left: -1px;
    // height: 353px;
    width: 440px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0.5px solid hsla(0,0%,46.3%,.28);
    border-radius: 12px;
    box-shadow: 0 10px 37px rgb(0 0 0 / 15%);
    padding: 20px;
}
