.explore-container{
    margin-top: 6vh;

    .stays-number{
        font-size: 1.08125rem;
        line-height: 1rem;
        padding-bottom: 2px;
    }

    h1{
        font-size: 2.18125rem;
        color: #222;
        padding-bottom: 10px;  
    }

}
