@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: circular ;
    src: url(../../fonts/Circular/Circular.otf);
}

@font-face {
    font-family: cereal-black ;
    src: url(../../fonts/cereal/AirbnbCerealBlack.woff);
}

@font-face {
    font-family: cereal-bold ;
    src: url(../../fonts/cereal/AirbnbCerealBold.woff);
}

@font-face {
    font-family: cereal-book ;
    src: url(../../fonts/cereal/AirbnbCerealBook.woff);
}

@font-face {
    font-family: cereal-light ;
    src: url(../../fonts/cereal/AirbnbCerealLight.woff);
}