// Colors
$clr1: #ff385c;
$clr2: #00008b;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
// $clr1: #ce2e6c;
// $clr2: #092F32;
// $clr3: #574f7d;
// $clr4: #95adbe;
// $clr5: #dff0ea;
// $clr6: #fff;

// LAYOUT
$layoutPaddingNarrow: 10px;
$layoutPadding: 40px;
$layoutPaddingWide: 80px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;
$break-desktop:1100px;
$break-huge:1600px;

$padded-break-narrow: $break-narrow + $layoutPaddingNarrow * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
$padded-break-desktop: $break-wide + $layoutPadding * 2;
$padded-break-huge: $break-wide + $layoutPaddingWide * 2;