.pop-cities-gallery {
    margin-top: 70px;
    .head-line-popular-destinations {
        color: white;
    }
    h1 span{
        color: $clr1;
        font-family: cereal-book;
    }
}

.pop-cities {
    display: flex;
    .pop-cities-card {
        width: 900px;
        // height: 900px;
        margin: 10px;
        color: rgb(0, 0, 0);
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        @include aspect-ratio(2.5,3);
    }
    img {
        border-radius: 13px;
        height: 390px;
        object-fit: cover;
    }
    .city-details-container {
padding-inline-start: 3px;        
// border: 1px lightgray solid;
        h4 {
            color: rgba(131, 127, 127, 0.801);
        }
    }
    .pop-cities-card:hover {
        background-color: rgba(211, 211, 211, 0.192);
    }
}
